* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.h1 {
  justify-self: center;
  text-align: center;
}
.card-style {
  width: 200px;
  height: auto;
  background-color: wheat;
  color: black;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

.viewer-style {
  width: 100vw;
  height: 100vh;
  background-color: rgba(101, 45, 45, 0.628);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0vh;
  position: absolute;
}

.viewer-style > img {
  width: 50vh;
  height: 50vh;
  flex-direction: column;
}
